#pagination {
	position: absolute;
    bottom: 0;
    right: 0;
    float : right;
}

#modaltitle {
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-group {
	display: flex;
	width: 100%		;
	align-items: center;
	justify-content: space-between;
}

label {
	width:30rem;
}
